{% extends 'Owner/owner_home.html' %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<section>
  <div class="container">
    <div class="text-center">
      <h1>My Products</h1>
      <br>
    </div>
  </div>
</section>
<!-- <section class="section-background"> -->
  <div class="container-fluid">
    
      <div class="row">
        {% for x in var %}
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{x.img.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{x.name}}</h5>
              <p class="card-text">Car Number: {{x.car_number}}</p>
              <p class="card-text">Car Number:No.Of.Seats: {{x.seat}}</p>
              <p class="card-text">Specification: {{x.specification}}</p>
              <p class="card-text">Amount: {{x.price}}/-hour</p>
              <a href="/owner_edit_product/?id={{x.id}}" class="btn btn-primary">Edit</a>
              <a href="/owner_del_product/?id={{x.id}}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
   
  </div>
<!-- </section> -->
{% endblock %}
